{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Note List</h1>
    <div class="row">
        {% for note in notes %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <p class="card-text">{{ note.content }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Created at: {{ note.created_at }}</small>
                    <div class="float-end">
                        <a href="{% url 'note_detail' note.pk %}" class="btn btn-primary"><i class="fas fa-eye"></i> Detail</a>
                        <a href="{% url 'note_delete' note.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                        <a href="{% url 'note_update' note.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No notes available.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
