{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 text-center mb-4">Welcome to My Website!</h1>
            <p class="lead">This is the index page. You can add any content you want here.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget vestibulum purus. Nulla facilisi. Fusce ut fermentum velit. Nullam id facilisis leo. Aliquam tincidunt enim eget massa ultricies, vel mollis justo convallis. Mauris vitae ante ut sapien fringilla dictum. Nullam nec enim eu justo efficitur mattis.</p>
            <p>Proin tempus est quis nulla venenatis ultricies. Nam auctor, risus eget vehicula porta, mauris lectus volutpat lacus, in venenatis leo ligula vel leo. Ut auctor sem et augue suscipit, sit amet maximus mi fermentum. Sed nec diam ac dolor ultrices eleifend. Nullam consequat commodo odio vitae fermentum. Fusce tincidunt aliquet tellus, id aliquet orci commodo vitae. Integer et felis sit amet velit consectetur tincidunt nec nec metus. Nullam eget lorem ex.</p>
            <p>Phasellus auctor risus vel nunc fermentum, nec consectetur nulla accumsan. Nullam sed nisl eget libero vehicula lacinia. Mauris nec purus at ligula euismod consectetur. Donec nec enim nec lacus consectetur malesuada. Vestibulum quis metus quam. Ut efficitur nunc ac dapibus dignissim.</p>
        </div>
    </div>
</div>
{% endblock %}
